<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= form_tag(request_path, method: 'post', class: 'form-horizontal center') do %>
      <p>
        Select cat type:<br/>
        <%= select_tag('type', options_for_select(@filters[:types].map(&:capitalize))) %>
      </p>
      <p>
        Select your location:<br/>
        <%= select_tag('location', options_for_select(@filters[:locations].map(&:capitalize))) %>
      </p>
      <div><%= submit_tag 'Send request', class: 'btn btn-default' %></div>
    <% end %>
  </div>
</div>
<br>
